body{
  margin: 0;
  padding: 0;

}

.container{
  background-color: #050505;
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;

  align-items: center;
  justify-content: center;


}

.text{
  height: 200px;
  width: 650px;
  background:url(easy1324.gif);
  background-size: 650px 200px;
  font-size: 180px;
  font-family: 'raleway',sans-serif;
   -webkit-text-fill-color:transparent;
   -webkit-background-clip:text;
}
